In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv(r"C:\Users\prave\OneDrive\Desktop\NPTEL\Datasets\Udemy Courses.csv")

In [4]:
# Exploring the dataset
data.columns

Index(['course_id', 'course_title', 'is_paid', 'price', 'num_subscribers',
       'num_reviews', 'num_lectures', 'level', 'content_duration',
       'published_timestamp', 'subject'],
      dtype='object')

In [5]:
data.head(2)

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,288942,#1 Piano Hand Coordination: Play 10th Ballad i...,True,35,3137,18,68,All Levels,1.5 hours,2014-09-18T05:07:05Z,Musical Instruments
1,1170074,#10 Hand Coordination - Transfer Chord Ballad ...,True,75,1593,1,41,Intermediate Level,1 hour,2017-04-12T19:06:34Z,Musical Instruments

In [6]:
# Number of values under each column
data.count()

course_id              3682
course_title           3682
is_paid                3682
price                  3682
num_subscribers        3682
num_reviews            3682
num_lectures           3682
level                  3682
content_duration       3682
published_timestamp    3682
subject                3682
dtype: int64

In [8]:
# Rows and columns 
data.shape

(3682, 11)

In [16]:
# Various subjects for which courses are offered and subject that has maximum number of courses
data.subject.value_counts()

Web Development        1200
Business Finance       1199
Musical Instruments     680
Graphic Design          603
Name: subject, dtype: int64

In [20]:
# Subjects that are free of cost
data[data["is_paid"] == False].subject.value_counts()

Web Development        133
Business Finance        96
Musical Instruments     46
Graphic Design          35
Name: subject, dtype: int64

In [23]:
# Subjects that are paid 
data[data["is_paid"] == True].subject.value_counts()

Business Finance       1103
Web Development        1067
Musical Instruments     634
Graphic Design          568
Name: subject, dtype: int64

In [31]:
# Top 5 selling courses
data[data["is_paid"] == True].groupby("course_title").sum().sort_values(by = "num_subscribers",ascending = False).head(5)

,course_id,is_paid,num_subscribers,num_reviews,num_lectures
course_title,,,,,
The Web Developer Bootcamp,625204,1.0,121584,27445,342
The Complete Web Developer Course 2.0,764164,1.0,114512,22412,304
Learn Web Designing & HTML5/CSS3 Essentials in 4-Hours,56590,2.0,86570,1050,48
Learn Javascript & JQuery From Scratch,94430,1.0,84897,2685,10
JavaScript: Understanding the Weird Parts,364426,1.0,79612,16976,85

In [32]:
# Top 5 least selling courses
data[data["is_paid"] == True].groupby("course_title").sum().sort_values(by = "num_subscribers",ascending = True).head(5)

,course_id,is_paid,num_subscribers,num_reviews,num_lectures
course_title,,,,,
Ratio Analysis for Financial Statements,1233302,1.0,0,0,6
Introduction to Project Management for Finance and Acct'g,1247992,1.0,0,0,9
Introduction to Forex Trading Business For Beginners,2314596,2.0,0,0,54
Essentials of money value: Get a financial Life !,1674644,2.0,0,0,40
Understand Core Finance Principles in 60 Minutes,1251654,1.0,0,0,13

In [33]:
data.head()

,course_id,course_title,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,288942,#1 Piano Hand Coordination: Play 10th Ballad i...,True,35,3137,18,68,All Levels,1.5 hours,2014-09-18T05:07:05Z,Musical Instruments
1,1170074,#10 Hand Coordination - Transfer Chord Ballad ...,True,75,1593,1,41,Intermediate Level,1 hour,2017-04-12T19:06:34Z,Musical Instruments
2,1193886,#12 Hand Coordination: Let your Hands dance wi...,True,75,482,1,47,Intermediate Level,1.5 hours,2017-04-26T18:34:57Z,Musical Instruments
3,1116700,#4 Piano Hand Coordination: Fun Piano Runs in ...,True,75,850,3,43,Intermediate Level,1 hour,2017-02-21T23:48:18Z,Musical Instruments
4,1120410,#5 Piano Hand Coordination: Piano Runs in 2 ...,True,75,940,3,32,Intermediate Level,37 mins,2017-02-21T23:44:49Z,Musical Instruments

In [59]:
#Courses of graphic design where the price is less than 100
data[(data["subject"] == "Graphic Design") & (data["price"] < "100")]

Empty DataFrame
Columns: [course_id, course_title, is_paid, price, num_subscribers, num_reviews, num_lectures, level, content_duration, published_timestamp, subject]
Index: []

In [72]:
# Number of all courses related to python
len(data[data.course_title.str.contains("Python")])

29

In [80]:
# Number of courses published in the year 2015
data["published_timestamp"] = pd.to_datetime(data.published_timestamp)
data["year"] = data["published_timestamp"].dt.year
len(data[data["year"] == 2015])

1014

In [86]:
# Maximum number of subscribers for each course
data.groupby("level")["num_subscribers"].max()

level
All Levels            268923
Beginner Level        161029
Expert Level            5172
Intermediate Level     29167
Name: num_subscribers, dtype: int64